<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD0IYXRS7vZK6iLaChB0Gadfml9XyQ1BJg</string>
	<key>GCM_SENDER_ID</key>
	<string>790123355865</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alphaserena</string>
	<key>PROJECT_ID</key>
	<string>trainershq-f5ded</string>
	<key>STORAGE_BUCKET</key>
	<string>trainershq-f5ded.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:790123355865:ios:aa57f09d99db33a8d6a8c8</string>
</dict>
</plist>
